body {
  background: rgb(174,174,175);
  background: linear-gradient(90deg, rgba(174,174,175,1) 0%, rgba(105,119,228,1) 52%, rgba(48,221,255,1) 100%);
    font-family: Oswald;
    color: black;
    margin: 0;
    padding: 0;
  }

header {
    text-align: left;
    font-size: 40px;
    background: black;
    padding:20px;
    color:white;
    margin:10px;
    border-radius:8px;
}
section{
  background: white;
  padding:40px;
  margin: 10px;
  
}

footer{
  background: black;
  padding:50px;
  color:white;
  margin: 10px;
  border-radius:8px;
}
  
p {
    font-size: 20px;
  }

button{
    background-color: white;
    font-size: 25px;
    padding: 10px 24px; 
    border-radius:8px; /*Makes the button rounded*/
    border: 2px solid #000000; 
    color: grey;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

button:hover{
    background-color: #000000;
  }
  
div{
    background:red;
    margin: auto;
    width: 50px;
    height: 20px;
    
  }

nav ul{
    margin: 0px;
    list-style-type: none;
    text-align: right;
  }

nav li{
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 25px;
    
  }

nav li a{
    color:rgb(0, 0, 0);
    padding: 15px;
    background: white;
    border-radius: 8px;
    text-decoration: none;
  }

nav li a:hover{
    color: grey;
    text-decoration: underline;
  }

  div.example-link a{
    width: 50px;
  }
  
  
  

  section.LBI {
  display: flex;
  flex-direction: row;
  padding: 25px 500px 25px 400px;
}

  section.LBI a{
  font-size: 50px;
  
}


